.navbar{
    background: var(--secondary);
    color: #fff;
    padding: 10px ;
 overflow: hidden;

}
.navbar h1{
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    padding: 0;
}