@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
:root{
  --primary:#4c245cef;
  --secondary:#875ba0;
  --tertiary:rgb(88, 59, 88);
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
background-color: var(--primary);
font-family: 'Nunito', sans-serif;
}